*.iml
*.gradle
/local.properties
/.idea
/gradle
.DS_Store
build.gradle
/build
/captures
.externalNativeBuild
/projectFilesBackup
/app/build.gradle
/app/proguard-rules.pro
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

*.apk
